/* Use this file to override styles in the drposter template.
 *
 * Improve poster maintainability by keeping the resources separate
 * from the package, and user styles separated from the overall package.
 */


/* change poster to be in a wide format rather than default long */

@page {
	size: 1189mm 1682mm;  /* maybe right size for a poster? must check */
	margin: 0;
}

html {
	margin: 0;
	width: 1682mm;
	height: 1141mm;
	padding: 2.5cm;  /* Overall document "margins" (while keeping the background, etc.) */
}

/* Set columns */

 .slides {
 	display: grid;
 	grid-template-columns: repeat(12, 1fr);
 	grid-column-gap: 1.5cm;  /* gap between columns */
 }


 .slides .col-1 {       /* Columns designated as col-1, col-2 etc will pill this section of the poster */
 	grid-column: span 4;  /* If multiple sections are assigned to the same column they will stack */
 }

 .slides .col-2 {
 	grid-column: span 4;
 }

 .slides .col-3 {
 	grid-column: span 4;
 }

 .slides .col-4 {      /* Currently we have 4 columns with the last spanning the whole width of the poster at the bottom */
 	grid-column: span 12;
 }
